<div class="name-bar">
  <div class="online-circle"></div>
  <p>Helly</p>
</div>
<div class="chat" id="chat">
  <div
    *ngFor="let message of previousMessages; let i = index"
    [class.yours]="message.whos === whos.yours"
    [class.theirs]="message.whos === whos.theirs"
  >
    <div
      class="box"
      [class.sb1]="message.whos === whos.yours"
      [class.sb2]="message.whos === whos.theirs"
    >
      {{ message.text }}
    </div>
  </div>
  <div class="message yours"></div>
</div>
<div class="fake-input-area d-flex justify-content-between">
  <p>{{ beingTyped }}</p>
  <button
    mat-mini-fab
    (click)="sendMessage()"
    [disabled]="fullMessageBeingTyped.length > this.beingTyped.length"
  >
    <mat-icon>send</mat-icon>
  </button>
</div>
