<div class="vw-100 vh-100 d-flex align-items-center justify-content-center flex-column gap-4" style="min-height: 100vh">
  <button mat-raised-button [cdkCopyToClipboard]="stringfydecision()" class="position-fixed top-0 start-0">COPY TO SAVE</button>
  <div id="#123"></div>
  <div class="d-flex align-items-center justify-content-between gap-4" *ngFor="let layer of getLayers()">
    <h1>layer {{ layer }}</h1>
    <div
      class="decision decision1 gap-2"
      id="decision{{ decision.id }}"
      *ngFor="let decision of listDecisionsOnLayer(layer); let i = index"
      style="{{ layer === 0 ? 'margin-top: 15000px' : '' }}"
    >

      <div class="d-flex justify-content-between p-2">
        {{ decision.id }}
        <input #inputChild type="number" class="w-75 h-50" />
        <select #selectChild class="h-50">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>

        </select>
        <button (click)="changeParent(selectChild.value,inputChild.value, decision)" class="h-50">parent</button>
        <button (click)="removeDecision(decision)"><mat-icon>delete</mat-icon></button>
      </div>


      <div class="gap-4">
        <div
          class="messages m-2 d-flex gap-4 flex-column"
          cdkDropList
          id="decisionMessage{{ decision.id }}"
          (cdkDropListDropped)="drop($event, decision.messages)"
          style="max-height: 300px; overflow: scroll"
        >
          <!--          <div-->
          <!--            class="d-flex message"-->
          <!--            [class.yours]="message.whos === 'yours'"-->
          <!--            [class.theirs]="message.whos === 'theirs'"-->
          <!--          >-->
          <!--            {{ message.text }}-->
          <!--          </div>-->
          <div *ngFor="let message of decision.messages; let editMessageIndex = index" cdkDrag class="d-flex">
            <div
              class="d-flex w-100 message p-2"
              [class.yours]="message.whos === 'yours'"
              [class.theirs]="message.whos === 'theirs'"
              (click)="editMessage(decision.id + editMessageIndex)"
            >
              <div class="example-box">
                <span *ngIf="_editMessageIndex === decision.id + editMessageIndex">
                  <input [(ngModel)]="message.text" (blur)="stopEdit()" autofocus id="_input" />
                </span>
                <span *ngIf="_editMessageIndex !== decision.id + editMessageIndex">{{ message.text }}</span>
              </div>
            </div>
            <button mat-icon-button (click)="removeMessage(decision, editMessageIndex)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <input #input class="w-100" />
        <select #select>
          <option value="yours">you</option>
          <option value="theirs">theirs</option>
        </select>
        <button
          mat-icon-button
          (click)="addMessage(decision, { whos: select.value, text: input.value }); input.value = ''"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="d-flex flex-column w-100 gap-2">
        <span *ngIf="decision.child0 && relocateArrows">
          <ngx-domarrow
            from="#{{ 'child0' + decision.id }}"
            to="#decision{{ decision.child0.id }}"
            [tail]="true"
            [onlyVisible]="true"
            color="red"
          ></ngx-domarrow
        ></span>
        <span *ngIf="decision.child1 && relocateArrows">
          <ngx-domarrow
            from="#{{ 'child1' + decision.id }}"
            to="#decision{{ decision.child1.id }}"
            [tail]="true"
            [onlyVisible]="true"
            color="red"
          ></ngx-domarrow
        ></span>
        <span *ngIf="decision.child2 && relocateArrows">
          <ngx-domarrow
            from="#{{ 'child2' + decision.id }}"
            to="#decision{{ decision.child2.id }}"
            [tail]="true"
            [onlyVisible]="true"
            color="red"
          ></ngx-domarrow
        ></span>

        <button
          mat-raised-button
          class="w-100"
          (click)="addChild(decision, j)"
          [id]="'child' + j + decision.id"
          *ngFor="let j of [0, 1, 2]"
        >
          <span *ngIf="_editButtonIndex === j + decision.id">
            <input [(ngModel)]="decision.decisivesMessages[j]" (blur)="stopEdit()" autofocus id="_input2" />
          </span>
          <span
            *ngIf="_editButtonIndex !== j + decision.id"
            style="background: red"
            (click)="_editButtonIndex = j + decision.id"
          >
            {{ decision.decisivesMessages[j]  }} _____
          </span>
        </button>
        <!--        <button mat-raised-button class="w-100" (click)="addChild(decision, 1)" [id]="'child1' + decision.id">-->
        <!--          child 1-->
        <!--        </button>-->
        <!--        <button mat-raised-button class="w-100" (click)="addChild(decision, 2)" [id]="'child2' + decision.id">-->
        <!--          child 2-->
        <!--        </button>-->
      </div>
    </div>
  </div>
</div>
